:root{
    --primary-color:#FF823C;
    --green-color:#22c55e;
    --red-color:#e13e3d;
}

body{
    background: linear-gradient(116.82deg, #242424 0%, #101010 100%) !important;
     font-family: 'Gothic A1', sans-serif;
    height: 100%;
    min-height:100vh;
    overflow-x: hidden;
    color: white !important;
}
body::-webkit-scrollbar{
    display: none;
}
/*general style*/
.fw-medium{
    font-weight: 500 !important;
}
p{
    margin-bottom: 0 !important;
}
.title-font{
    font-family: 'Alfa Slab One', cursive;
    background: -webkit-linear-gradient(157.1deg, #FFBF77 0%, #FF733C 100%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
    color: #f7f7f7 !important;
}
.input-text{
    background: transparent !important;
    border:none;
    color: white;
}
.input-text:focus{
    outline: none;
}
.input-text{
    background: rgba(255, 255, 255, 0.02) !important;
    padding: 14px 20px;
}
.btn{
    padding: 8px 16px !important;
    border-radius: 2px !important;
    transition: 0.3s !important;
    color: white !important;
}
.main-color{
    background: var(--primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.btn-crud{
    font-family: 'Alfa Slab One', cursive !important;
    padding: 16px 26px !important;
}
.btn-color{
    background:var(--primary-color) !important;
}
.btn-green{
    background: var(--green-color) !important;
}
.btn-red{
    background: var(
        --red-color
    ) !important;
}
.btn-auth{
    font-family: 'Alfa Slab One', cursive !important;
    padding: 16px 26px !important;
}
.btn-color:hover,.btn-green:hover,.btn-red:hover{
    filter: brightness(107%);
    color: white;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    /*-webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";*/
    -webkit-transition-delay: 9999999999999999999999999999999s;
    /*-webkit-background-composite: transparent;*/
}
.img-auth{
    max-height: 100vh;
}

/*the container must be positioned relative:*/
.custom-select {
    position: relative;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.select-selected {
    background: rgba(255, 255, 255, 0.02);
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 24px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: #ffffff;
    padding: 14px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #202020;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.input-file{
    color: white;
}
.input-file-auth::file-selector-button {
    background: var(--primary-color) !important;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
    transition: 0.2s;

}


input[type=file]::file-selector-button:hover {
    filter: brightness(110%);
}
/*general style*/


/*login style*/
.login-content-wrapper{
    margin-top: 100px;
}
/*login style*/


/*sidebar style*/
@media (max-width: 1200px) {
    .content-wrapper{
        position: relative !important;
    }
    .sidebar-wrapper{
        position: absolute !important;
        z-index: 999;
        transform: translateX(-100%);
        transition: all 0.3s ease;
        height: 100%;

    }
    .the-content{
        height: 100%;
    }
}

.sidebar-wrapper{
    background: linear-gradient(116.82deg, #242424 0%, #101010 100%);

}

.menu-wrapper{
    border-radius: 7px;
}
.menu-wrapper:hover{
    background-color: var(--primary-color);
    color: white !important;
}
.menu-wrapper:hover .svg-icon path{
    fill: white !important;
}
.sidebar-wrapper.active{
    transform: translateX(0);
    position: fixed;


}
.sidebar-accordion{
    /*transition: 0.2s;*/
    width: fit-content;
}
.sidebar-accordion:hover{
    cursor: pointer;
}
.svg-sidebar defs linearGradient stop{
    stop-color: white;
}
.menu-wrapper.active .svg-sidebar defs linearGradient stop:nth-child(1),
.accordion-menu-wrapper.active .svg-sidebar defs linearGradient stop:nth-child(1),
.menu-wrapper:hover .svg-sidebar defs linearGradient stop:nth-child(1),
.accordion-menu-wrapper:hover .svg-sidebar defs linearGradient stop:nth-child(1),
.accordion-menu-wrapper:not(.collapsed) .svg-sidebar defs linearGradient stop:nth-child(1){
    stop-color:var(--primary-color) !important;
}
.menu-wrapper.active .svg-sidebar defs linearGradient stop:nth-child(2),
.accordion-menu-wrapper.active .svg-sidebar defs linearGradient stop:nth-child(2),
.menu-wrapper:hover .svg-sidebar defs linearGradient stop:nth-child(2),
.accordion-menu-wrapper:hover .svg-sidebar defs linearGradient stop:nth-child(2),
.accordion-menu-wrapper:not(.collapsed) .svg-sidebar defs linearGradient stop:nth-child(2){
    stop-color:var(--primary-color) !important;
}
.menu-wrapper.active, .menu-wrapper:hover,
.accordion-menu-wrapper.active, .accordion-menu-wrapper:hover{
    background: var(--primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.arr-icon{
    rotate: 180deg;
    transition: 0.3s;
}
.accordion-menu-wrapper:not(.collapsed){
    background: var(--primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.accordion-menu-wrapper:not(.collapsed) .arr-icon{
    rotate: 0deg !important;
}

.sidebar-accordion:hover{
    color: var(--primary-color) !important;
}
.sidebar-accordion.active{
    color: var(--primary-color) !important;
}
/*sidebar style*/


/*topbar style*/
.topbar-wrapper{
    background: rgba(247, 247, 247, 0.02);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.03);
    padding: 18px 0;
}
.form-search{
    background: transparent;
}
.form-search:focus{
    outline: none;
}




.fa-bars{
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 50%;
    border: 1px solid transparent;
}
.fa-bars:hover{
    background-color: transparent;
    color: var(--primary-color);
    padding: 10px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}
/*topbar style*/


/*card dashboard style*/
.card-dashboard-wrapper{
    border: 2px solid;
    border-image-slice: 1;
    border-width: 4px;
    border-image-source: linear-gradient(to left, #FFBF77, #FF733C);
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    background: rgba(247, 247, 247, 0.02);
    padding: 16px 20px;
}
/*card dashboard style*/


/*TABLE STYLE START*/

.icon-table{
    transition: 0.2s;
}
.icon-table:hover{
    filter: brightness(112%);
}
table{
    font-size: 14px;
}
.dataTables_length,
.dataTables_filter,
.dataTables_info{
    display: none;
}
table.dataTable.display>tbody>tr>.sorting_1{
    box-shadow: none !important;
}
table.dataTable.no-footer{
    border-bottom: none;
}
tbody tr td{
    border: none !important;
}
.material-symbols-outlined {
    border: 1px solid transparent !important;
    color:white;
    background: var(--primary-color);
    padding: 6px;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.2s;
}
.material-symbols-outlined:hover{
    color: white;
    background: var(--primary-color);
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 3px 12px !important;
    transition: 0.2s;
    border-radius: 5px !important;
    /*display: none;*/
}
.btn-pagination{
    color: white !important;
    border-radius: 5px;
    padding: 4px 6px !important;
    background: var(--primary-color) !important;
    text-decoration: none !important;
}
.pagination-number{
    padding: 6px 13px !important;
}
.dataTables_wrapper .dataTables_paginate{
    gap: 12px;
    margin-top: 16px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next,
.dataTables_wrapper .dataTables_paginate .paginate_button.previous{
    padding: 0 !important;
    border: 0 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next:hover{
    background: transparent !important;

}
.col-sm-12 .col-md-7 .dataTables_paginate{
    width: 100%;
    display: flex;
    justify-content: center;
}
.dataTables_wrapper .dataTables_paginate{
    display: flex !important;
    justify-content: center !important;
    float: none;
    align-items: center;
}
.dataTables_paginate .pagination{
    gap: 1rem;
}
.col-sm-12.col-md-5{
    display: none;
}
table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_desc:after,
table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_desc_disabled:after,
table.dataTable>thead .sorting:before, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_desc:before, table.dataTable>thead .sorting_asc_disabled:before, table.dataTable>thead .sorting_desc_disabled:before
{
    display: none !important;
}
table.dataTable.display>tbody>tr>*{
    box-shadow: none !important;
}
.table>:not(caption)>*>* {
    border: none;
}
thead{
    background-color: var(--primary-color) !important;
    color: white;
    font-weight: 400 !important;
}
thead tr th{
    font-weight: normal;
}
tbody{
    color: white;
}
table.dataTable.display tbody tr:first-child td{
    border-top: none;
}

.content-table{
    border-radius: 5px;
}
tbody tr:nth-child(even){
    background-color: rgba(247, 247, 247, 0.02) !important;
    border-radius: 5px;
}
.btn-table-grup button{
    background-color: transparent !important;
}

/*TABLE STYLE END*/


/*detail order style start*/
.icon-back-wrapper{
    transition: 0.2s;
    cursor: pointer;
}
.icon-back-wrapper:hover .svg-icon path{
    fill: var(--primary-color) !important;
}
.icon-back-wrapper:hover p{
    color: var(--primary-color);
}
/*detail order style end*/


/*modal style*/
.modal-dialog-centered{
    width: 600px !important;
}
.modal-content{
    background:  linear-gradient(116.82deg, #242424 0%, #101010 100%);
    padding: 36px;
    width: 900px !important;

}
.btn-modal{
    background: none;
    border: none;
    outline: none;
}
.input-title{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 20px !important;
    text-transform: capitalize;
}
.form-input{
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 8px 12px;
    margin-top: 10px;
    background: transparent;
    color: white;
}
.form-input:focus{
    outline: none;
}
.input-file-modal::file-selector-button{
    background: var(--primary-color);
    border: none;
    border-radius: 6px;
    padding: 8px 18px;
    color: white;
}
.input-file-modal{
    color: var(--primary-color);
}
.img-preview{
    max-width: 180px;
    max-height: 50px;
}
.btn-close-modal{
    background: rgba(174, 174, 174, 1) !important;
    padding: 10px 18px !important;
    font-family: 'Alfa Slab One', sans-serif !important;
}
.btn-color-modal{
    background: var(--primary-color) !important;
    padding: 10px 18px;
    font-family: 'Alfa Slab One', sans-serif !important;

}
.hr-form{
    opacity: 100%;
    color: rgba(255, 255, 255, 0.06);
}
.delete-desc{
    color: rgba(174, 174, 174, 1);
}
.btn-danger-modal{
    background: rgba(225, 62, 61, 1) !important;
    padding: 10px 18px;
    font-family: 'Alfa Slab One', sans-serif !important;
}
/*modal style*/


/*footer style*/
.footer-title-wrapper{
    border: 1px solid var(--primary-color);
    padding: 5px 12px;
    max-width: 300px;
    width: 100%;
}
/*footer style*/
